.Toolbar {
    height: 80px;
    position: relative;
    overflow: hidden;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    z-index: 90;
    width: 100%;
}

.Logo {
    height: 100%;
}

@media (max-width: 499px) {
    .TabletOnlyPlus {
        display: none;
    }
    .Toolbar h1 {
        font-size: 28px;
    }
}