
.NavItem{
    margin:0.3;
    box-sizing: border-box;
    display:block;
    width: 100%;
}

.NavItem a {
    color: #8a8892;
    opacity: 0.5;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    font-weight:bold;
    float :right;
    border-radius: 2px;
 
}

/*cuando hacer click sobre la opcion del nav*/
.NavItem a:hover,
.NavItem a:active,
.NavItem a:active{
    color:black;
}

@media(min-width:500px){
    .NavItem{
        margin:0.2em;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    .NavItem{
        margin:0.3;
        box-sizing: border-box;
        display:block;
        width: 100%;
    }
    
    .NavItem a {
        color: #8a8892;
        opacity: 0.5;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        display: block;
        font-weight: bold;
        font-weight:bold;
        float :right;
        border-radius: 2px;
     
    }
    
    /*cuando hacer click sobre la opcion del nav*/
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a:active{
        color:black;
    }
}